<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<h2>Create Account</h2>
<form th:action="@{/register}" th:object="${user}" method="post">
    <input type="hidden" th:field="*{id}">
    <fieldset>
        <label for="username">Account:</label>
        <input type="text" id="username" th:field="*{username}">
        <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</p>
    </fieldset>
    <fieldset>
        <label for="password">Password:</label>
        <input type="password" id="password" th:field="*{password}">
        <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</p>
    </fieldset>
    <fieldset>
        <label for="email">Email:</label>
        <input type="text" id="email" th:field="*{email}">
        <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</p>
    </fieldset>
    <fieldset>
        <input type="submit" value="Save" class="btn btn-primary"/>
        &nbsp; &nbsp;
        <input type="reset" value="Reset" class="btn btn-secondary"/>
    </fieldset>
</form>
<p th:if="${message}" th:text="${message}" style="color:red;"></p>
</body>
</html>
